body {

  background-color: #EAF2F5;

  .field_with_errors {
    color: red;
  }

  #popup_info {
    display: none;
    width: 300px;
    position: absolute;
    top: 100px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #000;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
  }
  
  #main_container {
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    width: 1000px;
    padding: 20px;

    #title {
      width: 100%;
      border-bottom: 1px solid #000;
      font-size: 1.2em;
      font-weight: bold;
    }

  }
}
